@{
    ViewBag.Title = "Form Demo";
}
@section script{
    <script>
        $(function () {
            seajs.use('index/form', function (form) {
                form.init();
            });
        });
    </script>
}
<form id="userForm">
<div id="formMain" class="k-header formMain">
    <ul id="menu">
        <li>
            <label for="userName" class="required">
                用户名：</label>
            <input id="userName" name="userName" class="k-textbox" type="text" placeholder="最小6位用户名"
                required validationmessage="请输入用户名" />
        </li>
        <li>
            <label for="password">
                密&nbsp;&nbsp;码：</label>
            <input id="password" name="password" class="k-textbox" type="password" required validationmessage="请输入密码" /></li>
        <li>
            <label for="sex">
                性&nbsp;&nbsp;别：</label>
            <input id="sex" name="sex" style="width: 80px;" />
        </li>
        <li>
            <label for="birthday">
                生&nbsp;&nbsp;日：</label>
            <input id="birthday" name="birthday" />
        </li>
        <li>
            <label for="weight">
                体&nbsp;&nbsp;重：</label>
            <input id="weight" name="weight" type="number" value="66" style="width: 80px;" /></li>
        <li>
            <label for="email">
                Email:</label>
            <input id="email" name="email" type="email" style="width: 230px;" class="k-textbox"
                placeholder="e.g. myname@example.net" required data-email-msg="Email格式无效" />
        </li>
    </ul>
    <div class="buttonPane">
        <button class="k-button" id="confirm">
            确定</button>
        <button class="k-button" id="cancel">
            取消</button>
            @Model.ToString()
    </div>
</div>
</form>
<div id="formMain2" class="k-header formMain">
    <div id="result">
    </div>
</div>
