@{
    ViewBag.Title = "Grid Demo";
    Layout = "~/Views/Shared/FrameLayout.cshtml";
}

@section script{
<script>
    $(function () {
        
    });
</script>
}

<div id="container">
<div id="v1">
    <div id=""></div>
</div>
</div>